{% extends "base.html" %}

{% load static thumbnail %}

{% block site_title %}{{ person.name|title }}, a giant of IT.{% endblock site_title %}

{% block meta %}
    <meta property="og:url" content="{{ SITE_URL }}{{ request.path }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ person.name|title }}, a giant of IT." />
    <meta property="og:description" content="{{ person.description }}" />
    <meta property="og:image" content="{{ SITE_URL }}{{ person.get_sharing_image }}" />
    <meta property="og:site_name" content="{{ SITE_NAME }}" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@" /> <!-- TODO -->
    <meta name="twitter:title" content="{{ person.name|title }}, a giant of IT." />
    <meta name="twitter:description" content="{{ person.description }}" />
    <meta name="twitter:image" content="{{ SITE_URL }}{{ person.get_sharing_image }}" />
{% endblock meta %}

{% block content %}
    <span>{{ current_date|date:"F jS" }}</span>
    <h1>{{ person.name|title }}</h1>
    <p class="image">
        {% if link_prev %}
            <a href="{{ link_prev }}" id="previous-link" class="button prev">Previous</a>
        {% endif %}

        {% if link_next %}
            <a href="{{ link_next }}" id="next-link" class="button next">Next</a>
        {% endif %}

        {% if person.image|thumbnail_url:"big_image" %}
            <a href="{{ person.wikipedia_link }}" target="_blank"><img src="{{ person.image|thumbnail_url:"big_image" }}" width="400" alt="{{ person.name }} - {{ person.description }}" /></a>
        {% else  %}
            <a href="{{ person.wikipedia_link }}" target="_blank"><img src="{% static "img/noimage.png" %}" width="400" height="400" alt="{{ person.name }} - {{ person.description }}" /></a>
        {% endif %}

        {% if person.is_image_from_wikipedia %}
            <br/><small>Image taken from <a href="{{ person.wikipedia_link }}">Wikipedia</a></small>
        {% endif %}
    </p>
    <p>
        {{ person.description }}
        <span>
            <a href="{{ person.wikipedia_link }}" target="_blank">More information about {{ person.name|title }} on Wikipedia</a>
            {% if person.additional_link %}
                <br/>
                <a href="{{ person.additional_link }}" target="_blank">Another link to {{ person.name|title }}. (Check it out, it's worthwhile)</a>
            {% endif %}
        </span>
    </p>
    <ul class="social">
        <li class="fb">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ SITE_URL }}{{ request.path }}" target="_blank">Facebook</a>
        </li>
        <li class="twitter">
            <a href="https://twitter.com/intent/tweet?url={{ SITE_URL }}{{ request.path }}" target="_blank">twitter</a>
        </li>
    </ul>
    <p class="comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'giantsofit';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </p>
{% endblock content %}
